<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action='/madlib'>
            <p>Please select a person, color, noun, and adjective</p>
            <p>Person:
                <select name="person">
                    <option value="Nicki Minaj">Nicki Minaj</option>
                    <option value="Nicki Lewinsky">Nicki Lewinsky</option>
                    <option value="Nicki the Ninja">Nicki the Ninja</option>
                    <option value="Nicki the Boss">Nicki the Boss</option>
                    <option value="Nicki the Harajuku Barbie">Nicki the Harajuku Barbie</option>
                </select>
            </p>
            <p>Color:
                <input type="radio" name="color" value="pink"> Pink
                <input type="radio" name="color" value="orange"> Orange
                <input type="radio" name="color" value="green"> Green
                <input type="radio" name="color" value="black"> Black
                <input type="radio" name="color" value="blue"> Blue
            </p>
            <p>Noun:
                <input type="text" name="noun">
            </p>
            <p>Adjective:
                <input type="text" name="adjective"> 
            </p>    
           <input type="submit">
        </form>
    </body>
</html>